// Cluster execution is opt-in. Authentication and cluster services are site-managed.
profiles {
    slurm {
        process.executor = 'slurm'
        executor.queueSize = 50
    }
    sherlock {
        process.executor = 'slurm'
        process.queue = 'normal'
        executor.queueSize = 50
    }
    nersc {
        process.executor = 'slurm'
        process.clusterOptions = '--constraint=cpu'
        executor.queueSize = 15
        executor.pollInterval = '5 min'
        executor.queueStatInterval = '5 min'
        executor.submitRateLimit = '1 / 10 sec'
        podman.enabled = true
    }
    pbspro { process.executor = 'pbspro' }
    lsf { process.executor = 'lsf' }
    sge { process.executor = 'sge' }
    podman { podman.enabled = true }
    shifter { shifter.enabled = true }
}
