manifest { nextflowVersion = '>=25.10.4,<26'; version = '0.1.0-experimental' }
params {
    source_sha = "UNKNOWN"
    read1 = null
    read2 = null
    fasta = null
    tss = null
    outdir = null
    mapq = null
    organelles = null
    adapter_policy = null
    genome_size = null
}
process { executor = 'local'; cpus = 2; memory = '4 GB'; time = '20m'; shell = ['/bin/bash','-euo','pipefail'] }
docker { enabled = true; runOptions = '-u $(id -u):$(id -g)' }
trace { enabled = true; overwrite = true; file = "${params.outdir}/trace.tsv" }
report { enabled = true; overwrite = true; file = "${params.outdir}/report.html" }
timeline { enabled = true; overwrite = true; file = "${params.outdir}/timeline.html" }
dag { enabled = true; overwrite = true; file = "${params.outdir}/dag.html" }
